<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- Chrome, Firefox OS, Opera and Vivaldi -->
    <meta name="theme-color" content="#111">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#111">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#111">
	<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.css' />
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.js'></script>
	<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/gcal.js'></script>
</head>
<body ng-app="mainApp" ng-controller="MenuController">
    

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="index.html">Home</a></li>
								<li><a href="generic.html">Generic</a></li>
								<li><a href="elements.html">Elements</a></li>
								<li><a href="#">Log In</a></li>
								<li><a href="#">Sign Up</a></li>
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>


<!-- Header -->
    <header id="header" class="alt">
        <h1><a href="index.html">Maszczyk Dominik</a></h1>
        <nav>
            <a href="#menu" class="toggle-button" ng-click="closed = !closed"><div ng-class="{'menu-closed':menucolapsed}">Menu&nbsp;&nbsp;</div></a>
        </nav>
    </header>
    
    <div id="panel" ng-click="closed=true">
        
    <div id="page-wrapper" resize>

				<!-- Banner -->
					<section id="banner">
						<div class="inner" style="text-transform:uppercase;">
							<div class="logo">
                                <span class="icon fa-lightbulb-o"
                                      style="
background: -webkit-radial-gradient(50% 50%, closest-side, rgba(255,255,0,0.8) {{ooff10}}%, rgba(255,0,0,0) {{ooff90}}%);
background: -o-radial-gradient(50% 50%, closest-side, rgba(255,255,0,0.8) {{ooff10}}%, rgba(255,0,0,0) {{ooff90}});
background: -moz-radial-gradient(50% 50%, closest-side, rgba(255,255,0,0.8) {{ooff10}}%, rgba(255,0,0,0) {{ooff90}});
background: radial-gradient(50% 50%, closest-side, rgba(255,255,0,0.8) {{ooff10}}%, rgba(255,0,0,0) {{ooff90}});
                                      " scroll></span>
                            </div>
							<h2>Dominik Maszczyk</h2>
							<p>ELECTRONIC ENGINEER, SOFTWARE/<b>WEB</b> DEVELOPER WITH PASSION FOR HIS FIELD</p>
						</div>
					</section>

				<!-- Wrapper -->
					<section id="wrapper">

						<!-- One -->
							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
									<div class="content">
										<h2 class="major">About this webpage</h2>
										<p>
                                            <ul style="list-style-type:none;">
                                                <li>Face profile and intro is ganerated as a dynamic chart (<b>d3.js</b>).</li>
                                                <li>Data for this chart was generated from bmp file with <b>bash</b> script and stored in csv file.</li>
                                                <li>Generated chart is <b>fully responsive</b> to view size change. In order achieve live tuning the <b>Angular.js</b> data binding was used instead of standart window event.</li>
                                                <li>Menu was build based on <b>slideout</b> library in order to user experience on mobile browsers (<b>slide left gesture</b>).</li>
                                            </ul> 
                                        </p>
									</div>
								</div>
							</section>

						<!-- Two -->
							<section id="two" class="wrapper alt spotlight style2">
								<div class="inner">
									<a href="#" class="image"></a>
									<div class="content">
										<h2 class="major">Tempus adipiscing</h2>
										<p>Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet turpis non, sollicitudin posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla dignissim dapibus. Nullam ultrices, neque et faucibus viverra, ex nulla cursus.</p>
									</div>
								</div>
							</section>

						<!-- Three -->
							<section id="three" class="wrapper spotlight style3">
								<div class="inner">
									<a href="#" class="image"></a>
									<div class="content">
										<h2 class="major">Nullam dignissim</h2>
										<p>Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet turpis non, sollicitudin posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla dignissim dapibus. Nullam ultrices, neque et faucibus viverra, ex nulla cursus.</p>
									</div>
								</div>
							</section>

						<!-- Four -->
							<section id="four" class="wrapper alt style1">
								<div class="inner">
									<h2 class="major">My calendar</h2>
									<p>
										<div id="calendar"></div>
									</p>
									<section class="features">
										<article>
											<a href="#" class="image"></a>
											<h3 class="major">Sed feugiat lorem</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
										</article>
										<article>
											<a href="#" class="image"></a>
											<h3 class="major">Nisl placerat</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
										</article>
										<article>
											<a href="#" class="image"></a>
											<h3 class="major">Ante fermentum</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
										</article>
										<article>
											<a href="#" class="image"></a>
											<h3 class="major">Fusce consequat</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
										</article>
									</section>
								</div>
							</section>

					</section>

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<h2 class="major">Get in touch</h2>

							<ul class="contact">
								<li class="fa-home">
									Dominik Maszczyk<br>
									2800 Kgs.Lyngby<br>
									DENMARK
								</li>
								<li class="fa-phone">(+45) 501 008 45</li>
								<li class="fa-envelope"><a href="#">Skitionek@gmail.com</a></li>
								<li class="fa-linkedin"><a href="//linkedin.com/in/dominik-maszczyk">Dominik-Maszczyk</a></li>
							</ul>
							<ul class="copyright">
								<li>Design and code <a href="http://linkedin.com/in/dominik-maszczyk" style="font-weight:bold;">DOMINIK MASZCZYK</a></li>
							</ul>
						</div>
					</section>

			</div>
        </div>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="js/used3.js"></script>
    <script src="js/slideout.js"></script>
    <script>
        (function(angular) {
            'use strict';
            var mainApp = angular.module("mainApp", []);

            mainApp.controller('MenuController', ['$scope', function($scope) {
                $scope.closed = true;
                $scope.ooff10 = 0;
                $scope.ooff90 = 0;
                $scope.menucolapsed = false;
                
            }]);
            
            mainApp.directive('resize', function ($window) {
                return function (scope, element, attr) {

                    var w = $window;
                    scope.$watch(function () {
                        return {
                            'h': w.innerHeight, 
                            'w': w.innerWidth
                        };
                    }, function (newValue) {
                        scope.windowHeight = newValue.h;
                        scope.windowWidth = newValue.w;

                      console.log(newValue.h+"dupa"+newValue.w);
                        eventwindowresize();
                    }, true);

                    angular.element(w).bind('resize', function () {
                        scope.$apply();
                    });
                }
            }); 
            mainApp.directive("scroll", function ($window) {
                return function(scope, element, attrs) {
                    angular.element($window).bind("scroll", function() {
                        scope.ooff = this.pageYOffset;
                        var tmp = scope.ooff-60;
                        if (tmp<=10) scope.ooff10 = tmp;
                        if (tmp<=90) scope.ooff90 = tmp;
                        scope.menucolapsed = scope.ooff>90;
                        scope.$apply();
                    });
                };
            });
        
            var slideout = new Slideout({
                'panel': document.getElementById('panel'),
                'menu': document.getElementById('menu'),
                'padding': 256,
                'tolerance': 70,
                'side': 'right'
            });
            
            // Toggle button
            document.querySelector('.toggle-button').addEventListener('click', function() {
                slideout.toggle();
            });
            
            slideout.on('beforeopen', function() {
              document.querySelector('.fixed').classList.add('fixed-open');
            });

            slideout.on('beforeclose', function() {
              document.querySelector('.fixed').classList.remove('fixed-open');
            });
            
        })(window.angular);
    </script>
    <script type='text/javascript'>

$(document).ready(function() {
    $('#calendar').fullCalendar({
	    

			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,listYear'
			},

			displayEventTime: false, // don't show the time column in list view

			// THIS KEY WON'T WORK IN PRODUCTION!!!
			// To make your own Google API key, follow the directions here:
			// http://fullcalendar.io/docs/google_calendar/
			googleCalendarApiKey: 'AIzaSyDRyWIHKvIdwrk1DL-nkk_GWwea4N5O0Jc',
		
			// US Holidays
			eventSources: [
			    {
				googleCalendarId: 'skitionek@gmail.com'
			    }
			],
			eventClick: function(event) {
				// opens events in a popup window
				window.open(event.url, 'gcalevent', 'width=700,height=600');
				return false;
			},
			
			loading: function(bool) {
				$('#loading').toggle(bool);
			}
	    
        /*googleCalendarApiKey: '247863987527-btg3qun3k4bg7gs7kurkouk7449h0cte.apps.googleusercontent.com	',
        eventSources: [
            {
                googleCalendarId: 'skitionek@gmail.com'
            },
            {
                googleCalendarId: '8e9cr0rbjtj2jdn9auvfeccr70@group.calendar.google.com'
            },
            {
                googleCalendarId: '9817iolq8phca9q01u3pdefrj4@group.calendar.google.com'
            },
            {
                googleCalendarId: 'l8h5mfckdui2f7fjqd0uff7b2phv03s0@import.calendar.google.com'
            }
        ]*/
    });
});

</script>
</body>
</html>



